.profile-container {
  width: 100%;
  max-width: 1180px;
  padding: 0;
  margin: 32px auto;
}

.profile-container header {
  display: flex;
  justify-content: space-between;
}

.profile-container header .header-logo img {
  height: 64px;
}

.profile-container header span {
  font-size: 20px;
  margin-left: 24px;
}

.profile-container header .header-buttons {
  display: flex;
  align-items: center;
}

.profile-container header .header-buttons a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.profile-container header .header-buttons button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px;
  background: transparent;
  margin-left: 20px;
  transition: border-color 0.2s;
}

.profile-container header .header-buttons button:hover {
  border-color: #999;
}

@media all and (max-width: 1179px) {
  .profile-container {
    width: 95% !important;
  }
}

@media (max-width: 760px) {
  .profile-container header {
    display: block;
  }

  .profile-container header .header-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .profile-container header .header-buttons {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
}

@media (max-width: 510px) {
  .profile-container header .header-logo {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
  }

  .profile-container header .header-logo span {
    margin-left: 0;
  }

  .profile-container header .header-buttons {
    padding-top: 0;
  }
}

/* Listagem */
.profile-container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
}

.profile-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.profile-container ul li {
  background: #FFF;
  padding: 24px;
  min-height: 360px;
  border-radius: 8px;
  position: relative;
}

.profile-container ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
}

.profile-container ul li button:hover {
  opacity: 0.8;
}

.profile-container ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

/*.profile-container ul li strong:not(:first-child) {*/
.profile-container ul li p + strong {
  margin-top: 32px;
}

.profile-container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}

@media (max-width: 700px) {
  .profile-container ul {
    grid-template-columns: 1fr;
  }
}