.new-incident-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-content: center;
  align-items: center;
}

.new-incident-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-incident-container .content section {
  width: 100%;
  max-width: 380px;
}

.new-incident-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.new-incident-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.new-incident-container .content form {
  width: 100%;
  max-width: 450px;
}

.new-incident-container .content form input,
.new-incident-container .content form textarea {
  margin-top: 8px;
  min-width: 340px;
}

@media (max-width: 850px) {
  .new-incident-container .content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    padding: 50px 0 0;
  }

  .new-incident-container .content section {
    display: grid;
    justify-items: center;
  }

  .new-incident-container .content section p {
    text-align: center;
  }

  .new-incident-container .content form {
    padding: 20px;
  }
}


